<ActionBar title="English to Chinese" class="action-bar">
</ActionBar>
<GridLayout rows="*" columns="*" class="page">
	<GridLayout row="1" colSpan="2" tkExampleTitle tkToggleNavButton>
		<RadListView [items]="languageData">
			<ng-template tkListItemTemplate let-item="item">
				<GridLayout class="itemWord" rows="auto,auto">

					<GridLayout rows="auto" columns="*,*"  borderRadius="5" >
						<Label row="0" col="0" class="wordFormate VarelaRound-Regular text-left">
							<FormattedString>
								<Span [text]="item.english"></Span>
								<Span text="&#xe3a1;" class="mdiBottomBarIcons"></Span>
							</FormattedString>
						</Label>
						<Label row="0" col="1" class="wordFormate VarelaRound-Regular text-right">
							<FormattedString>
								<Span [text]="item.chinese"></Span>
								<Span text="&#xe3a1;" class="mdiBottomBarIcons"></Span>
							</FormattedString>
						</Label>
					</GridLayout>
					<GridLayout row="1" class="image-size">
						<Image row="2" colSpan="2" stretch="aspectFill" src=""></Image>
					</GridLayout>
				</GridLayout>
			</ng-template>
		</RadListView>
	</GridLayout>
</GridLayout>